<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>calendar demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='webjars/fullcalendar/5.11.3/main.min.css'/>
    <script src="webjars/jquery/3.6.1/jquery.min.js"></script>
    <script src='webjars/moment/2.29.4/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/5.11.3/main.min.js'></script>
    <script src='webjars/fullcalendar/5.11.3/locales-all.min.js'></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: "uk",
                events: [
                    {
                        url: '/api/event/all'
                    }
                ]
            });
            calendar.render();
        });
    </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>
